---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import data from "../data/tools.json";

import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
---

<Layout
  site="Rise of Machine"
  title="Enhance Your Craft with AI"
  tagline="A curated set of powerful AI tools for makers."
>
  <main>
    <nav class="nav">
      {
        [{title: "🔥 All", category: "all"}, ...data.tools]
          .map(section => ({title: section.title, category: section.category}))
          .map(navItem => {
            let classNames = "nav__item nu-u-text--secondary-alt nu-c-fs-normal nu-u-py-5 nu-u-px-0 nu-u-me-8";
            if (navItem.category === "all") {
              classNames += " is-active"
            }
            return <button 
                class={classNames}
                set:html={navItem.title}
                >
                </button>
          })
      }
    </nav>
    <section>
      <ul role="list" class="link-card-grid">
        {data.tools
          .filter(item => {
            if (true) {
              return item;
            }
          })
          .flatMap(item => item.content)
          .sort((a, b) => {
            return a.title < b.title ? -1 : 1;
          })
          .map(({url, title, body, tag}) => {
            return <Card
              href={url}
              title={title}
              body={body}
              tag={tag}
            />
          })
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  h6.separator {
    margin: 1rem 0;
    color: var(--text-secondary);
    display: table;
    white-space: nowrap;
    overflow: hidden;
  }
  h6.separator:after {
    border-top: 2px dotted var(--border-muted);
    content: "";
    display: table-cell;
    position: relative;
    top: var(--spacing-06);
    width: 100%;
  }
  h6.separator:before {
    right: 1%;
  }
  h6.separator:after {
    left: 1%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: var(--spacing-05);
    padding: var(--spacing-00);
  }
  .nav {
    box-shadow: inset 0px -1px 0px var(--border-muted);
  }
  .nav .nav__item {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .nav .nav__item:hover {
    color: var(--text-secondary);
  }
  .nav .nav__item.is-active {
    color: var(--text-primary);
    font-weight: 500;
    border-bottom: 2px solid var(--icon-primary);
  }
</style>