---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import data from "../data/tools.json";

import "@new-ui/colors";
import "@new-ui/typography";
import "@new-ui/effects";
import "@new-ui/spacings";
---

<Layout
  title="Rise of Machine — A curated set of powerful AI tools for makers."
>
  <main>
    {data.tools.map(section => {
      return <section>
        <h6 class="separator nu-c-h6" set:html={section.title}></h6>
        <ul role="list" class="link-card-grid">
          {section.content.map(({url, title, body, tag}) => {
            return <Card
              href={url}
              title={title}
              body={body}
              tag={tag}
            />
          })}
        </ul>
      </section>
    })}
  </main>
</Layout>

<style>
  h6.separator {
    margin: 1rem 0;
    color: var(--text-secondary);
    display: table;
    white-space: nowrap;
    overflow: hidden;
  }
  h6.separator:after {
    border-top: 2px dotted var(--border-muted);
    content: "";
    display: table-cell;
    position: relative;
    top: var(--spacing-06);
    width: 100%;
  }
  h6.separator:before {
    right: 1%;
  }
  h6.separator:after {
    left: 1%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: var(--spacing-05);
    padding: var(--spacing-00);
  }
</style>
